html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'font', sans-serif;
}

html {
    background-color: blueviolet;
}

ul {
    list-style: none;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.site-content {
    background-color: #f1f1f1;
}

.width {
    padding: 30px;
    width: 1920px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1170px;
    margin: 0 auto;
    padding: 30px 0;
}

.content h1 {
    font-weight: 700;
}

.title-container {
    margin-left: auto;
    margin-right: auto;
}

.title {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: aqua;
}

.header {
    align-items: flex-end;

}